<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Marvel-App</h3>

    <hr class="text-white">

    <div class="list-group list-reset cont1">
      <a
      *ngFor="let elem of historial"
      (click)="buscar(elem)"
      class="list-group-item list-group-item-action"
      >
      {{ elem }}
    </a>
    </div>

    <hr class="text-white">

    <div class="cont2">
      <button type="button" class="btn btn-warning btn-block"
      (click)="VerFavoritos()"
      > <b>Favoritos</b> </button>
      <button type="button" class="btn btn-warning btn-block"
      (click)="GeneraAleatorios()"
      > <b>Generar aleatorios</b> </button>

    </div>

  </div>

